.nav {
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    align-items: center;
}

.input {
    margin: auto;
    width: 500px;
    margin-top: 200px;
}

form {
    display: flex;
    flex-direction: column;
}

form * {
    margin-top: 20px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}
