@font-face {
    font-family: myFirstFont;
    src: url(plasdrip.ttf);
}

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: myFirstFont;
    color: red;
    font-size: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    align-items: center;
    padding: 25px;
}

.input {
    margin: auto;
    width: 500px;
    margin-top: 200px;
}

form {
    display: flex;
    flex-direction: column;
}

form * {
    margin-top: 20px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

a:hover {
    font-weight: bolder;
}

ul {
    list-style-type: none;
}

li {
    margin: 15px;
}

.add-song {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
}

.my-songs {
    width: 70%;
    margin: auto;
    text-align: center;
    border: 6px outset red;
    border-radius: 25px;
}