{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/auth.css">
{% endblock %}
{% block content %}
    <div class="nav">
        <div class="nav-left">
            <h1>WholeLottaMusic</h1>
        </div>
        <div class="nav-right">
            <a href="{{url_for('register')}}">Sign up</a>
        </div>
    </div>
    <div class="input">
        <form method="post">
            <input type="text" placeholder="username" name="username">
            <input type="password" placeholder="password" name="password">
            <button type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}