{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/auth.css">
{% endblock %}
{% block content %}
    <div class="nav">
        <div class="nav-left">
            <h1>WholeLottaMusic</h1>
        </div>
        <div class="nav-right">
            <a href="{{url_for('logout')}}">Logout</a>
        </div>
    </div>
    <div class="add-song">
        <form method="post">
            <input type="text" placeholder="url" name="url" required>
            <input type="text" placeholder="title" name="title">
            <button type="submit">Add song</button>
        </form>
    </div>
    <div class="my-songs">
        <h3>My Songs</h3>
        <ul>
            {% for song in songs %}
                <li>
                    <a href="{{ song[1] }}" target="_blank" rel="noopener noreferrer"><img src="../static/play.png" height="25px"></a>
                    {{ song[0] }}
                    <a href="/delete/{{ song[0] }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div> 
{% endblock %}